@import "tailwindcss";

@layer base {
  body {
    background-color: #F8F7F3;
    color: #111111;
    font-family: 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 9999px;
}